/*
color pallette
rgb(13, 31, 103)
rgb(204, 177, 9)
rgb(2, 5, 26)
rgb(151, 141, 44)
*/

/*General CSS*/
html {
    font-family: Stencil, 'Arial Narrow Bold', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#highscores-screen,
#instructions-screen,
#options-screen,
#game-screen,
#end-screen {
    display: none;
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: rgb(13, 31, 103);
    color: rgb(204, 177, 9);
    border: 0.5rem solid rgb(2, 5, 26);
}



#start-screen,
.start-menu-button {
    text-transform: uppercase;
}



/* Start menu CSS */

#start-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start-menu-heading {
    font-size: 5rem;
    text-align: center;
}

.start-menu-button {
    background-color: rgb(204, 177, 9);
    
    margin: 2vh 0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 15%;
    box-shadow: 0 4px 3px rgb(2, 5, 26);
}




