/*
color pallette
rgb(13, 31, 103) background color
rgb(204, 177, 9) heading and button color
rgb(2, 5, 26) frame color
rgb(151, 141, 44)
*/

/*General CSS*/
html {
    font-family: Stencil, 'Arial Narrow Bold', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#start-screen,
#game-screen,
#options-screen,
#highscores-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: rgb(13, 31, 103);
    border: 0.5rem solid rgb(2, 5, 26);
}

#highscores-screen,
#options-screen,
#game-screen,
#end-screen {
    display: none;
}

#start-screen-container,
.menu-button {
    text-transform: uppercase;
}

/* Start menu CSS */

#start-screen-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-heading {
    font-size: 5rem;
    text-align: center;
    color: rgb(204, 177, 9);
    text-shadow: 5px 5px 2px rgb(2, 5, 26);
}

.menu-button {
    background-color: rgb(204, 177, 9);
    margin: 2vh 0;
    height: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50px 50%;
    box-shadow: 0 4px 3px rgb(2, 5, 26);
}




